@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main h1{
    font-size:36px;
    font-family: 'Roboto', sans-serif;
}
.section{
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.redirect{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.link{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link:hover{
    background: #E077B0;
    color: white;
    border: none;
    box-shadow: 0 0 10px #E077B0;
}