@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.card{
    height: 260px;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.card-img{
    position: relative;
    height: 50%;
    width: 100%;
}
.card-img img{
    height: 90%;
}
.card-img p{
    position: absolute;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    top:0;
    right: 0;
}
.card-info{
    position: relative;
    height: 35%;
    width: 100%;
}
.card-info h3{
    font-weight: bold;
}
.rate{

    font-size: 12px;
}
.price{
    margin-top: 10px;
    color: green;
}
.price .total{
    color: gray;
    font-size: 12px;
    text-decoration: line-through;
}
.card-buy{
    border-top: 1px solid black;
    height: 15%;
    color: white;
    background: black;
}
.card-buy p{
    font-size: 16px;
}

.card-buy img{
    height: 20px;
}