.line-horizontal {
  position: relative;
  width: 20%; /* Ancho de la línea */
  height: 6px; /* Altura de la línea */
}

.bg-line {
  background: linear-gradient(to right, green, yellow);
}

.bg-green{
  background-color: green;
}

.bg-yellow{
  background-color: yellow;
}