.line-horizontal {
  position: relative;
  width: 100%; /* Ancho de la línea */
  height: 10px; /* Altura de la línea */
  border-radius: 5px;
}

.bg-line {
  background: linear-gradient(to right, green, yellow);
}

.bg-green{
  background-color: green;
}

.bg-yellow{
  background-color: yellow;
}