@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
.cont{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50%;
}
.imgCont{
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
   
}

.img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid black;
}
.editCont{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
}
.editCont:hover{
    opacity: 1;
}
.editCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px 0 10px 0;
}
.separate{
    background: #dedede;
    width: 50%;
    height: 1px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.link{
    padding: 5px;
}
.link:hover{
    color: black;
}