.navBar{
    display: flex;
    background-color: black;
    height: 3.5vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px 0 6px;
}

.login{
    border-radius: 10px;
    transform: scale(1.2);
}

.home{
    border-radius: 10px;
    transform: scale(1.2);
}

.buttonsRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
}