@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.cont{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.createCont{
    width: 70vw;
    height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.locations{
    width: 30vw;
    height: 90vh;
    border-left: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titleCont{
  width: 30vw;
  height: 20vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.address{
  width: 30vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  justify-content: start;
  overflow-y: scroll;
}
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .formTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .inputContainer .input, .form .submit {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .inputContainer .input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #E077B0;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  .addressItem{
    height: auto;
    margin: 10px 0 10px 0;
    width: 25vw;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }

.span{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}