.profileCont{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.imgCont{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

.editCont{
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
}
.editCont:hover{
    opacity: 1;
}
.editCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    padding: 2px;
}
#edit{
    padding: 5px;
    color: black;
}

