.cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width: 240px;
    height: 254px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
  }
  
  .card > * {
    margin: 0;
  }
  
  .cardTitle {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }
  
  .cardContent {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .cardForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cardForm input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .cardForm button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
.ChangeButton:hover {
    opacity: 0.8;
  } 
  