.form {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  
  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  .formInput {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .formInput:focus {
    border: 1px solid #E077B0;
    outline: none;
  }
  
  .formSubmmit {
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #E077B0;
    border: 1px dashed #E077B0;
    cursor: pointer;
  }
  
  .formSubmmit:hover {
    color: #E077B0;
    background-color: white;
    border: 1px dashed #E077B0;
    cursor: pointer;
    transition: 0.5s;
  }