.containerAbout{
    width: 60vw;
    height: 60vh;
    background-color: rgba(135, 168, 135, 0.705);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    left: 20%;
    top: 90px;
    margin: 20px;
}

.content{
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}